.top-products-list {
    margin-left: 20px;
    width: 350px;
}

.top-products-list label {
    margin-right: 10px;
}

.top-products-list select {
    margin-bottom: 20px;
}

.top-products-list table {
    width: 100%;
    border-collapse: collapse;
}

.top-products-list th, .top-products-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.top-products-list th {
    background-color: #f2f2f2;
    text-align: left;
}

.top-products-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.top-products-list tr:hover {
    background-color: #ddd;
}

.top-products-list td:first-child {
    width: 50px;
    text-align: center;
}

.product-image {
    width: 50px;
    height: auto;
}

.chart-container {
    width: 45%;
    margin: 20px;
}

.chart-container h3 {
    text-align: center;
}
