
.my-account {
  .page-title {
    font-size: 2.1875rem;
    font-weight: 700;
    text-transform: uppercase;
    
  }

  .account-nav {
    list-style: none;
    padding: 0;
    padding-top: 2.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;

    .menu-link {
      &.menu-link_active {
        pointer-events: none;
        color: $color-red-800;
      }
    }
  }

  .page-content {
    padding-top: 2.5rem;
  }

  &__dashboard {
    p {
      width: 43.125rem;
      max-width: 100%;
    }

    .unerline-link {
      text-decoration: underline;
    }
  }

  &__orders-list {
    overflow-x: auto;
    width: 100%;
    font-size: 0.9rem;
  }

  .orders-table {
    border: 1px solid $border-color;
    width: 100%;

    thead {
      th {
        background-color: $border-color;
        padding: 0.5rem 0.5rem;
        text-transform: uppercase;
        font-size: 0.875rem;
        text-align: center;
      }
    }

    tbody {
      td {
        border-top: 1px solid $border-color;
        padding: 0.8rem;
        text-align: center;

        &:first-child {
          text-decoration: none;
        }

        &:last-child {
          // width: 12.5rem;
        }

        .btn {
          height: 3.125rem;
          font-size: 0.875rem;
        }
      }
    }
  }

  &__address {
    .notice {
      margin-bottom: 3.75rem;
    }

    &-list {
      display: flex;
      gap: 5.625rem;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    &-item {
      flex-grow: 1;

      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 0.875rem;
        font-weight: 500;

        h5 {
          font-size: 1.125rem;
          margin: 0;
        }

        a {
          font-size: 0.8125rem;
          border-bottom: 2px solid;
        }
      }

      &__detail {
        line-height: 1.5rem;

        p {
          margin: 0;
        }
      }
    }
  }

  &__edit {
    .btn-primary {
      width: 18.75rem;
      height: 3.75rem;
      max-width: 100%;
      text-transform: uppercase;
      font-size: 0.875rem;
    }

    .address-form{
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }

    .address-row{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .address-btn{
      margin-left: 1rem;
      // flex-shrink: 0;
      height: 3.75rem;
    }

    .email-form{
     display: flex;
     align-items: center;
     gap: 0.5rem;
    }

    .email-form .form-floating {
      width: 100%;
    }

    .email-separator {
      padding: 0 0.5rem;
      font-size: 1.25rem;
    }

    .phone-form {
      display: flex;
      align-items: center;
      gap:0.5rem ;
    }

    .phone-form .form-floating {
      float: left;
      width: 7rem; /* 각 입력 필드의 너비를 설정합니다 */
      position: relative;
      margin-right: 0.5rem; /* 필드 간의 간격을 설정합니다 */
      width: 100%;
    }
    
    

    .phone-seperator {
      align-items: center;
    }
  }

  &__wishlist {

    .products-grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    .product-card {
      display: flex;
      flex-direction: column;
    }

    .product-card-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: rgb(231, 231, 231);
      padding: 10px;
      border-radius: 8px;
      width: 100%;
    }

    .pc__date{
      font-size: 20px;
      padding-left: 20px;
    }

    .pc__content{
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      padding: 10px 20px;
      width: 100%;
      max-height: 200px;
    }

    .pc__img-wrapper {
      flex: 0 0 40%;
      // flex-direction: row;
      gap: 10px;
      align-items: center;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pc__img{
      // position: static;
      width: 100%;
      height: 100%;

      object-fit: contain;
      // height: auto;
      // object-fit: cover;
    }

    .pc__info {
      flex:1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      word-wrap: break-word;
    }

    .btn-container{
      display: flex;
      flex-direction: center;
    }

    .btn-review {
      width: 100%;
      margin-top: 10px;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
    }

  }

  &__review {
    .products-grid {
      display: flex;
      // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      flex-direction: column;
      gap:20px;
    }

    .product-card-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: rgb(231, 231, 231);
      padding: 10px;
      border-radius: 8px;
      width: 100%;
    }

    .product-card {
      display: flex;
      flex-direction: column;
      // gap: 10px;
    }
    .pc__date{
      font-size: 20px;
      padding-left: 20px;
    }
    

    .pc__content {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      padding: 10px 20px;
      width: 100%;
      max-height: 200px;
    }

    .pc__img-wrapper {
      flex: 0 0 40%;
      display: flex;
      // flex-direction: row;
      justify-content: center;
      align-items: center;
      // margin: 1rem;
      max-width: 100%;
    }

    .pc__img {
      // position: static;
      width: 100%;
      height: 100%;

      object-fit: contain;
      // object-fit: cover;
      // object-fit: contain;
    }

    .pc__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      word-wrap: break-word;
    }

    .line {
      margin: 0;
    }

    .reviews{
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      padding: 10px 20px;
    }

    .review-star {
      width: 18px;
      height: 18px;
      margin-right: 0.25rem;
      fill: #ffc78b;
    }
    
    .review-star-empty {
      width: 18px;
      height: 18px;
      margin-right: 0.25rem;
      fill: #bdbdbd;
    }

    .pc__rating {
      // font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .pc__review {
      font-size: 1rem;
    }
    
  }
  
  .nav-tabs {
    display: flex;
    justify-content: center;
    padding: 11px 25px 7px;
  }
}

input[readonly] {
  background-color: white !important;
}