.div1{
  width:100%;
  margin:60px 0px 0px 0px;
}
.div2 {
  width: 80%;
  margin:0 auto;   
  align-content: center;
  @media (max-width:500px) {
   width: 100%; 
  }
}


.orders-table {
  width: 100%;
  border-collapse: collapse; /* 테이블 셀 경계 중복 제거 */
  font-size: 0.8rem;
  
  /* @media (max-width:500px) {
    width: 100%;
  } */
}

.empty{
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center; 가로 방향으로 중앙 정렬
  justify-content: center; /* 세로 방향으로 중앙 정렬 */
  /* height: 100vh; 전체 화면 높이로 설정 */
  text-align: center; /* 텍스트를 가운데 정렬 */

}

.emptyOrder{
  align-items: center;
  margin: 0 auto;
  font-size: larger;

 }

 .goCategory{
  border: 0cap;
  background-color: #90ee90;
  border-radius: 7px;
}

.goCategory2{
   color: white;
   font-weight: 500;
 }

 .goCategory2:hover{
  color: white;
  font-weight: 700;
}

.orders-header th {
  padding: 10px;
  border-bottom: 2px solid #ddd;
  text-align: left;
}

.orders-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
/* 
.orders-table td:last-child {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-decoration: underline;
  font-weight: bold;
  width: 30%; 
} */


.orders-table td.orderDetails {
  width: 35%; /* '🎁' 열 너비 조정 */
  text-decoration: underline;
  font-weight: bold;
}

.orderNo {
  width: 10%; /* 'no.' 열 너비 조정 */
  font-size: 0.8rem;
  
}

.orderDate {
  width: 30%; /* '주문일자' 열 너비 조정 */
  font-size: 0.8rem;
}

.orderPrice {
  font-size: 0.8rem;
  width: 20%; /* '결제금액' 열 너비 조정 */
}

