.div1 {
  width: 100%;
  margin: 60px 15px 0 15px;

  @media (max-width: 500px) {
    width: 90%;
    margin: 0 auto;
  }
}

.div2 {
  width: 80%;
  margin: 0 auto;
  align-content: center;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.div3 {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #dee2e6;
  width: 80%;
  margin: 0 auto;
  align-content: center;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.div4 {
  padding-top: 10px;
  margin: 0 auto;

  @media (max-width: 400px) {
    width: 100%;
  }
}

.orders-table {
  border: 1px solid #dee2e6;
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  position: relative;
  

  img {
    width: 40px;
    height: auto;
  }

  th, td {
    font-size: 0.875rem;
    text-align: center;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  thead{
    background-color:#dee2e6;
  }
  

  td:nth-child(3) {
    // width: 50%;
    // text-align: left;
    padding: 0.2rem;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;

    @media (max-width: 500px) {
      width: 30%;
    }
  }


  td:last-child, th:last-child {
    width: 10%;
    padding: 0.2rem;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;

    @media (max-width: 500px) {
      width: 30%;
    }
  }

  @media (max-width: 500px) {
    font-size: 0.75rem;

    td {
      white-space: nowrap;
      padding: 0.2rem;
    }

    tr {
      display: table-row;
      width: 100%;
      padding: 0.2em;
    }

    td {
      display: table-cell;
    }
  }
}

// .orders-table th:first-child,
// .orders-table td:first-child {
//   // font-weight: bold;
// }
@media (max-width: 768px) {
  .orders-table th:first-child {
    width: 5px; /* 작은 화면에서 폭 조정 */
    //  background-color: #90ee90;
  }
  
  .orders-table th,
  .orders-table td {
    padding: 0.2rem; /* 모바일에서 패딩 조정 */
  }
}




.aboveTable {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;

  thead {
    font-size: small;
  }

  tbody {
    font-size: smaller;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }

  @media (max-width: 768px) {
    font-size: 0.875rem;

    th, td {
      padding: 0.5rem;
    }
  }
}

$green: #90ee90;

.button {
  display: flex;
  color: white;
  font-weight: 700;
  outline: none;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin: auto;
  padding: 5px 10px;

  font-size: 0.8rem;
  text-align: center;
  background: $green;

  white-space: pre-line;
  word-break: keep-all;
  overflow-wrap: break-word;
}
