

.orders-table {
  border: 1px solid #dee2e6;
  width: 100%;
  border-radius: 5px;

  thead {
    th {
      background-color: #dee2e6;
      padding: 0.5rem 0.5rem;
      text-transform: uppercase;
      font-size: 0.875rem;
      text-align: center;
    }
  }

  tbody {
    td {
      border-top: 1px solid #dee2e6;
      padding: 0.8rem;
      text-align: center;

      &:first-child {
        text-decoration: none;
      }



      .btn {
        height: 3.125rem;
        font-size: 0.875rem;
      }
    }
  }
}

.productImage {
  width: auto; /* 이미지의 너비는 자동으로 조정 */
  height: 100%; /* 이미지의 높이를 셀 높이에 맞춤 */
  object-fit: contain; /* 이미지가 비율을 유지하면서 셀에 맞게 조정됨 */
  max-height: 100px; /* 최대 높이를 설정하여 너무 커지지 않도록 함 (원하는 크기로 조정 가능) */
}

.reviewBtn {
  align-items: center;
}

.totalAmount {
  align-items: left;
}

.aboveTable {
  display: flex;
  justify-content: left;
  padding: 10px 0px 0px;
  
}

.aboveTable2 {
  padding: 5px;
}

.orderDetailsHeader {
  display: flex;
  justify-content: left;
  /* 중간 정렬 */
  margin-bottom: 20px;
  font-size: 2.1875rem;
  font-weight: 700;
  text-transform: uppercase;
  /* 테이블과의 간격 */
}

.aboveTableHead {
  font-weight: bold;
}

$green :#90ee90;

.button {
  display: inline-flex;
  color: white;
  font-weight: 500;
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  height: 80%;   
  width: 90%;  
  padding: 0.5rem;     /* 텍스트 주위 패딩을 제거 */
  font-size: 0.8rem;
  text-align: center;
  background: $green;
  // &:hover {
  //   background: lighten($blue, 10%); // 색상 10% 밝게
  // }

  // &:active {
  //   background: darken($blue, 10%); // 색상 10% 어둡게
  // }
}