.div1{
  width: 100%;
  margin:60px 15px 0px 15px;

  @media (max-width:500px) {
    width: 90%; 
    margin:0 auto;   
  }
}

.div2 {
  width: 80%;
  margin:0 auto;   
  align-content: center;
  
  @media (max-width:500px) {
    width: 100%; 
    margin:0 auto;   
  }
}

.div3{
  //abovetable
    border-radius: 10px;
  overflow: hidden;
  /* 둥근 모서리 효과 */
  border: 1px solid dee2e6;
  /* 테두리 색상 */
  width: 70%;
  margin:0 auto;   
  align-content: center;
  
  @media (max-width:500px) {
    width: 100%;
    
    
  }

}

.div4{
  padding-top: 10px;
  @media (max-width:500px) {
    width: 100%;
  }
}

.orders-table {
  border: 1px solid dee2e6;
  width: 100%;
  word-break: keep-all;

  margin: 0 auto;
  
  .orders-table img {
    width: 50px;  /* 이미지의 폭을 고정 */
    height: auto; /* 이미지 비율을 유지 */
}

  .orders-table th,
  .orders-table td {
    background-color: dee2e6;
    padding: 0.1rem;
    // text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center;

    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

tbody {
  td {
    border-top: 1px solid dee2e6;
    padding: 0.1%;
    text-align: center;


  }
}
.orders-table td:nth-child(3) {
  width: 50%;  /* 상품명이 들어가는 열의 폭을 넓게 */
}






// .table-wrapper {
//   border-radius: 10px;
//   overflow: hidden;
//   /* 둥근 모서리 효과 */
//   border: 1px solid dee2e6;
//   /* 테두리 색상 */
// }

.aboveTable {
  width: 100%;
  /* 테이블이 부모 컨테이너의 너비를 모두 차지 */
  border-collapse: collapse;
  /* 테두리 간격 제거 */
  word-wrap: break-word;
  padding: 2px ;
  /* 긴 텍스트를 줄바꿈 */
  text-align: center;
  /* 텍스트 가운데 정렬 */
  // table-layout: fixed;
  /* 열 너비가 고르게 분배 */
  
}

/* order-summary-table 셀 스타일 */
.aboveTable td,
.aboveTable th {
  border: 1px solid #ddd;
}

.aboveTable thead{
  font-size: small;
}
.aboveTable tbody{
  font-size: smaller;
}


/* 반응형 디자인 */
@media (max-width: 768px) {
  .aboveTable {
    font-size: 0.875rem !important;
    /* 작은 화면에서는 글자 크기 줄임 */
  }

  .aboveTable td,
  .aboveTable th {
    padding: 5px !important;
    /* 작은 화면에서는 셀 여백을 줄임 */
  }
}



$green :#90ee90;

.button {
  display: flex ;
  color: white;
  font-weight: 700;
  outline: none;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin: auto;
  padding: 0%;

  width: auto;
  min-width: 50px; /* 버튼의 최소 폭 설정 */
  padding: 5px 10px; /* 패딩 조정 */

  font-size: 0.8rem;
  text-align: center;
  background: $green;

  white-space: pre-line;
  /* 줄바꿈 문자를 기준으로 텍스트를 줄바꿈 */
  word-break: keep-all;
  /* 단어가 중간에 잘리지 않도록 */
  overflow-wrap: break-word;
  /* 단어가 너무 길 경우 줄바꿈 */
  
}